*.iml
*.apk
.gradle
/local.properties
/.idea
.DS_Store
build/
bin/
gen/
/captures
.externalNativeBuild
.cxx
iosApp/Podfile.lock
iosApp/Pods/*
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec
moko-resources-generated.js
yarn.lock